.login_Btn {
    float: right;
    height: 32px;
    width: 128px;
    margin: 16px 32px 0% 0%
  }

  .signin_Btn {
    float: right;
    height: 32px;
    width: 128px;
    margin: 16px 16px 0% 0%
  }